<div data-v-1f71ada3="" class="menu-box">
    <a href="{:url('Official/index')}">
        <div data-v-1f71ada3="" class="menu-sub">
            <div data-v-1f71ada3="" class="sub-txt {php}if(request()->action() == 'index'){echo 'active';}{/php}">
                <span data-v-1f71ada3="" class="menu-txt">官方公告</span>
            </div>
        </div>
    </a>
    <a href="{:url('Official/gywm')}">
        <div data-v-1f71ada3="" class="menu-sub">
            <div data-v-1f71ada3="" class="sub-txt {php}if(request()->action() == 'gywm'){echo 'active';}{/php}">
                <span data-v-1f71ada3="" class="menu-txt">关于我们</span>
            </div>
        </div>
    </a>
    <a href="{:url('Official/yhxy')}">
        <div data-v-1f71ada3="" class="menu-sub">
            <div data-v-1f71ada3="" class="sub-txt {php}if(request()->action() == 'yhxy'){echo 'active';}{/php}">
                <span data-v-1f71ada3="" class="menu-txt">用户协议</span>
            </div>
        </div>
    </a>
<!--     <a href="{:url('Official/save_field')}">
        <div data-v-1f71ada3="" class="menu-sub">
            <div data-v-1f71ada3="" class="sub-txt {php}if(request()->action() == 'save_field'){echo 'active';}{/php}">
                <span data-v-1f71ada3="" class="menu-txt">修改注册领域</span>
            </div>
        </div>
    </a> -->
    <a href="{:url('Official/yygf')}">
        <div data-v-1f71ada3="" class="menu-sub">
            <div data-v-1f71ada3="" class="sub-txt {php}if(request()->action() == 'yygf'){echo 'active';}{/php}">
                <span data-v-1f71ada3="" class="menu-txt">运营规范</span>
            </div>
        </div>
    </a>
    <a href="{:url('Official/fwgz')}">
        <div data-v-1f71ada3="" class="menu-sub">
            <div data-v-1f71ada3="" class="sub-txt {php}if(request()->action() == 'fwgz'){echo 'active';}{/php}">
                <span data-v-1f71ada3="" class="menu-txt">发文规范</span>
            </div>
        </div>
    </a>
    <a href="{:url('Official/quts')}">
        <div data-v-1f71ada3="" class="menu-sub">
            <div data-v-1f71ada3="" class="sub-txt {php}if(request()->action() == 'quts'){echo 'active';}{/php}">
                <span data-v-1f71ada3="" class="menu-txt">侵权投诉</span>
            </div>
        </div>
    </a>
    <a href="{:url('Official/cfgz')}">
        <div data-v-1f71ada3="" class="menu-sub">
            <div data-v-1f71ada3="" class="sub-txt {php}if(request()->action() == 'cfgz'){echo 'active';}{/php}">
                <span data-v-1f71ada3="" class="menu-txt">处罚规则</span>
            </div>
        </div>
    </a>
    <a href="{:url('Official/qzss')}">
        <div data-v-1f71ada3="" class="menu-sub">
            <div data-v-1f71ada3="" class="sub-txt {php}if(request()->action() == 'qzss'){echo 'active';}{/php}">
                <span data-v-1f71ada3="" class="menu-txt">抢注申诉</span>
            </div>
        </div>
    </a>
    <a href="{:url('Official/mzsm')}">
        <div data-v-1f71ada3="" class="menu-sub">
            <div data-v-1f71ada3="" class="sub-txt {php}if(request()->action() == 'mzsm'){echo 'active';}{/php}">
                <span data-v-1f71ada3="" class="menu-txt">免责申明</span>
            </div>
        </div>
    </a>
    <a href="{:url('Official/lxwm')}">
        <div data-v-1f71ada3="" class="menu-sub">
            <div data-v-1f71ada3="" class="sub-txt {php}if(request()->action() == 'lxwm'){echo 'active';}{/php}">
                <span data-v-1f71ada3="" class="menu-txt">联系我们</span>
            </div>
        </div>
    </a>
</div>